@using ScoringSystem.Models
@model List<QuestionModel>
<div id="question-section" class="well bs-component center-block">
    <h2>Анкета</h2>
    <hr/>
    <fieldset>
        @foreach (var question in Model)
        {
            <label class="h4">@question.Text</label>
            if (question is BoolQuestionModel)
            {
                @Html.Partial("BoolQuestion", question);
            }

            if (question is VariableQuestionModel)
            {
                @Html.Partial("VariableQuestion", question);
            }

            <br />

        }
    </fieldset>

    <button id="ok-button" class="btn btn-primary">Готово</button>
</div>
<div class="loader">
    <img class="loading-image" src="/Images/wheel.gif" alt="loading..">
</div>

@section Scripts
{
    <script src="/Scripts/scoringform.js"></script>

    <script>
        $(document).ready(function() {
            var clientLink = '@ViewData["ClientLink"]';

            $("#ok-button").click(function() {
                $("#ok-button").attr("disabled", true);
                $(".loader").show();
                var answers = getAnswers($("#question-section"));

                $.getJSON("/Form/SaveForm?clientLink=" + clientLink, { answers: JSON.stringify(answers) },
                    function(redirectUrl) {
                        window.location.href = redirectUrl;
                    });
            });
        });
    </script>
}