<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TT</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="padding-bottom:0px;">
    <div>
        <div id="body" style="min-height: 570px;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
