@model ScoringSystem.Data.VariableQuestion

<div class="variable-question" id="@Model.Id">
    <select>
        @foreach (var answer in Model.Answers)
        {
            <option value="@answer.Id">@answer.Text</option>
        }
    </select>
</div>