@model ScoringSystem.Models.VariableQuestionModel

<div class="variable-question" id="@Model.Id">
    <select class="form-control" style="width: 400px;">
        @foreach (var answer in Model.Answers)
        {
            <option value="@answer.Id">@answer.Text</option>
        }
    </select>
</div>